table, td, th {
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
  }
  
  table {
    margin: auto;
    margin-top: 1%;
    border-collapse: collapse;
  }

  h3 {
    margin: auto;
    text-align: center;
  }

  #table {
    display: block;
    margin: 0 auto;
    margin-top: 1%;
}